@model PieListViewModel

<h1>@Model.CurrentCategory</h1>
@foreach (var pie in Model.Pies)
{
        <div>
            <h3>@pie.Name</h3>
            <h4>@pie.Price</h4>
            <h4> @pie.ShortDescription</h4>
        </div>
}